body{
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}    

.container{
    background-color: white;
    width: 400px;
    overflow: hidden;   
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,1);
}   

.header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    
  }

.icon_html{
    justify-content: start;
    margin: 0;
    width: 50px;
}

.names{
    align-items: left;
}

.names h1{
    font-size: 16px;
    margin: 0;
    width: 320px;
}

.names p{
    font-size: 14px;
    margin: 0;
    color: gray;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    gap: 3px;
    text-align: end;
}

.point{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}



.image{
    height: auto;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.left-icons i, .right-icons i{
    font-size: 20px;
    margin-right: 15px;
    
}
.right-icons{
    display: flex;
    justify-content: flex-end;
}

.texto1, .texto2{
    margin: 5px;
}

.texto2{
    color: #555;
    line-height: 1.2;
}
